<!DOCTYPE html>
<html>
<title>Gallery</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



<style>
body,h1 {font-family: "Montserrat", sans-serif}
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}


body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #fff;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../media/autumn.jpg');
  min-height: 100%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<body>

<!-- Sidebar -->


<!-- !PAGE CONTENT! -->


<!-- Header -->
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right"
           href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>

        <a href=#><i class="fas fa-image fa-2x w3-bar-item"></i> </a>
        <a href="{%url 'pictures'%}" class="w3-bar-item w3-button">HOME</a>

        <a href="{%url 'pictures'%}" class="w3-bar-item w3-button">DASHBOARD</a>

        <div class="w3-dropdown-hover w3-right">
            <a class="w3-button">Filter Location <i class="fas fa-angle-down "> </i></a>

            <div class="w3-dropdown-content w3-bar-block w3-border">
                {%if locations%}
                <form role="filter" class="" action="{%url 'filter_location'%}">
                    {%for location in locations%}
                    <input type="submit" name="location" class="w3-bar-item w3-button" value="{{location.name}}"/>
                    {% endfor %}
                </form>

                {% endif%}
            </div>
        </div>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">

        <a href="{%url 'pictures'%}" class="w3-bar-item w3-button">DASHBOARD</a>
    </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container" id="home">
    <div class="w3-display-middle">
        <h2>NimPic</h2>
        <form class="w3-center " role="search" action="{%url 'search_category' %}">
            <div class="w3-bar">
                <input type="text" class="w3-input form-control w3-bar-item" placeholder="Search Images"
                       name="Category">


                <button class="w3-button w3-bar-item w3-hide-small w3-white" type="submit">
                    <i class="fa fa-search "></i>

                </button>


            </div>

        </form>
    </div>
</div>


<!-- Photo Grid -->



    <!--<div class="w3-row-padding w3-margin">-->



        <!--<div class="w3-col m3 ">-->
            <!--<img src="{{pic.image.url}}" style="width:100%;cursor:pointer; max-height:300px"-->
                 <!--class="w3-hover-shadow " data-toggle="modal" data-target="#{{pic.id}}">-->
        <!--</div>-->
    <!---->

<div class="container">
  {% for pic in pics %}
  <!-- Trigger the modal with a button -->
  <img  src="{{pic.image.url}}" style="width:100%;cursor:pointer; max-height:300px"
                 class="w3-hover-shadow " data-toggle="modal" data-target="#{{pic.id}}">

  <!-- Modal -->
  <div class="modal fade" id="{{pic.id}}" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
<img  src="{{pic.image.url}}" style="width:100%;cursor:pointer; max-height:300px"
                 class="w3-hover-shadow " data-toggle="modal" data-target="#{{pic.id}}">

        </div>
        <div class="modal-footer">
          <!-- The text field -->
<input type="text" value="https://i.pinimg.com/564x/c5/33/01/c5330104df3062f0a08e30a9ed017cfe.jpg" id="myInput" style = "display:none">

<!-- The button used to copy the text -->
<button onclick="myOtherFunction()">Copy text</button>
        </div>
      </div>

    </div>
  </div>
    {% endfor %}

</div>




<script>


// Toggle grid padding
function myFunction() {
  var x = document.getElementById("myGrid");
  if (x.className === "w3-row") {
    x.className = "w3-row-padding";
  } else {
    x.className = x.className.replace("w3-row-padding", "w3-row");
  }

}

function myOtherFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}

// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.width = "100%";
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}


window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}





</script>

</body>
</html>
