<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right"
           href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>

        <a href=#><i class="fas fa-image fa-2x w3-bar-item"></i> </a>
        <a href="{%url 'pictures'%}" class="w3-bar-item w3-button">HOME</a>

        <a href="{%url 'pictures'%}" class="w3-bar-item w3-button">DASHBOARD</a>

        <div class="w3-dropdown-hover w3-right">
            <a class="w3-button">Filter Location             <i class="fas fa-angle-down ">   </i></a>

            <div class="w3-dropdown-content w3-bar-block w3-border">
                {%if locations%}
                <form role="filter" class="" action="{%url 'filter_location'%}">
                    {%for location in locations%}
                    <input type="submit" name="location" class="w3-bar-item w3-button" value="{{location.name}}"/>
                    {% endfor %}
                </form>

                {% endif%}
            </div>
        </div>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">

        <a href="{%url 'pictures'%}" class="w3-bar-item w3-button">DASHBOARD</a>
    </div>
</div>


</body>
</html>